html, body{
    margin: 0;
}
.navbar{
    display:flex;
    // justify-content: space-between;
    background-color: grey;

    ul {
        width: 100%;
        display:flex;
        justify-content: space-between;
        li{
            margin-right: 10px;
        }
        
    }

    li{
        list-style-type: none;
    }
}

.nav-links{
    
    display: flex;
    

}